.Board-Container {
  margin-left: 30px;
}

.Board {
  width: 640px;
  height: 640px;
  padding: 64px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(182, 133, 78);
}