.Space {
  display: inline;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}

.star-point {
  height: 5px;
  width: 5px;
  left: calc(50% - 3px);
  top: calc(50% - 3px);
}

.star-point,
.stone-display,
.debug-display,
.hover-stone-display {
  position: absolute;

}

.stone-display,
.debug-display,
.hover-stone-display {
  left: 0;
  top: 0;
}

.star-point,
.stone-display,
.hover-stone-display {
  border-radius: 50%;
}

.stone-display,
.hover-stone-display {
  width: 100%;
  height: 100%;
}

.Space.B {
  color: white;
}

.Space.B .stone-display,
.hover-stone-display.B:hover,
.star-point {
  background: black;
}

.Space.W .stone-display,
.hover-stone-display.W:hover {
  background: white;
}

.hover-stone-display {
  opacity: 0.7;
}

.line-h,
.line-v {
  background: black;
  position: absolute;
}

.line-h {
  width: 100%;
  height: 1px;
  top: calc(50% - 1px);
}

.line-v {
  width: 1px;
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
}
